@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.websiteWrapper {
  width: min(1450px, 90%);
  margin: auto;
}

section li:before, .mainNav li:before {
  content: "•";
  vertical-align: middle;
  line-height: 1rem;
  font-size: 4rem;
  color: #A9A5B9;
  text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
  margin-right: 3px;
}

/**********HEADER-LEFT**********/
.headerLeftWrapper {
  width: 600px;
  float: left;
}
.headerLeftWrapper img {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}
.headerLeftWrapper .headerNav {
  float: left;
}

.headerNavMainList > li {
  float: left;
  margin: 10px 0 0;
  padding: 10px;
  position: relative;
  transition: 0.5s;
}
.headerNavMainList > li:hover {
  background-color: #9E2C2C;
}
.headerNavMainList > li:hover > ul {
  display: block;
}
.headerNavMainList > li > a {
  display: inline-block;
  color: white;
  font-size: 1.1rem;
  background-color: #9E2C2C;
  padding: 10px;
}
.headerNavMainList > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
}
.headerNavMainList > li > ul > li > a {
  background-color: #1e1e1e;
  color: #aaa;
  padding: 10px;
  display: block;
  transition: 0.5s;
}
.headerNavMainList > li > ul > li > a:hover {
  background-color: #9E2C2C;
  color: white;
}

/**********HEADER-LEFT**********/
.headerRightWrapper {
  float: right;
  width: 250px;
  text-align: right;
}
.headerRightWrapper form {
  margin: 20px 0 30px;
  display: inline-block;
}
.headerRightWrapper input[type=text] {
  padding: 5px;
  width: 125px;
}
.headerRightWrapper input[type=submit] {
  padding: 5px;
}
.headerRightWrapper a {
  display: inline-block;
  background-color: #5E697D;
  color: white;
  padding: 12px;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 849px) {
  .headerRightWrapper {
    float: left;
    text-align: left;
  }
}
/***********MAIN***********/
.mainAndAsideWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.main1 {
  width: 1100px;
  margin-right: 10px;
}

/************MATEMATYKA-MAIN-HEADER************/
.introduction {
  margin-bottom: 30px;
}
.introduction h1 {
  color: #536675;
  font-size: 3rem;
}
.introduction p {
  padding-left: 5px;
  font-size: 1.05rem;
  line-height: 120%;
}

/**************MAIN-NAV**************/
.mainNavWrapper {
  width: 325px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
}
.mainNavWrapper h2 {
  color: white;
  background-color: #536675;
  padding: 2px 10px;
}
.mainNavWrapper p {
  padding: 15px 15px 0;
  font-size: 1.1rem;
}

.mainNav {
  padding: 15px;
}
.mainNav h3 {
  color: #536675;
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.mainNav a {
  color: #536675;
}
.mainNav a:hover {
  color: #B1B5A6;
}
.mainNav > ul > li {
  margin: 0;
}
.mainNav > ul > li > a {
  font-weight: bold;
  line-height: 140%;
}
.mainNav > ul > li > ul {
  margin-left: 40px;
}
.mainNav > ul > li > ul > li {
  line-height: 160%;
}
.mainNav > ul > li > ul > li:last-child {
  margin-bottom: 10px;
}
/**************SECTION***********/
.moduly {
  color: #536675;
  position: absolute;
  top: -40px;
  left: 50%;
}

section {
  width: 325px;
  float: left;
  margin: 20px 20px 0 0;
  border: 1px dashed black;
  box-sizing: border-box;
  padding: 20px;
}
section h3 {
  color: #536675;
  text-align: center;
  margin-bottom: 15px;
}
section .sectionImgContainer {
  width: 285px;
  text-align: center;
}
section img {
  max-width: 100%;
  display: inline-block;
}
section img:hover {
  transform: scale(1.05);
}
section p {
  margin: 10px 0;
  line-height: 130%;
}
section a {
  color: #536675;
  line-height: 140%;
}
section a:hover {
  color: #B1B5A6;
}

.newPart, .najnowszeIWsparcie > h2 {
  color: white;
  background-color: #536675;
  padding: 5px 0 5px 5px;
  margin: 20px 20px 20px 0;
}

.najnowszeIWsparcie {
  float: left;
  box-sizing: border-box;
  width: 500px;
}
.najnowszeIWsparcie img {
  width: 200px;
  float: left;
}
.najnowszeIWsparcie img:hover {
  transform: scale(1.05);
}
.najnowszeIWsparcie .specjal {
  float: left;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
}
.najnowszeIWsparcie a {
  color: #536675;
}
.najnowszeIWsparcie a:hover {
  color: #B1B5A6;
}
.najnowszeIWsparcie p {
  line-height: 130%;
}

.NIWglowny {
  margin-bottom: 20px;
}

.polecamy figure {
  width: 325px;
  box-sizing: border-box;
  border: 1px dashed black;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
.polecamy img:hover {
  transform: scale(1.05);
}

/************ASIDE***********/
.aside1 {
  width: 340px;
}
.aside1 figure {
  margin-bottom: 20px;
}
.aside1 img:hover {
  transform: scale(1.05);
}

/**********FOOTER***********/
footer {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid black;
}
footer a {
  display: block;
  float: left;
  margin-left: 15px;
  color: #536675;
}
footer a:first-child {
  margin: 0;
}
footer p {
  text-align: right;
  font-size: 0.85rem;
  color: #535353;
}

/*# sourceMappingURL=main.css.map */
