* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul { list-style-type: none; }
a { text-decoration: none; }

.websiteWrapper { width: min(1450px, 90%); margin: auto; }

%list-markers {
  content:"•";
  vertical-align:middle;
  line-height:1rem;
  font-size: 4rem;
  color: #A9A5B9;
  text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
  margin-right: 3px;
}


/**********HEADER-LEFT**********/
.headerLeftWrapper {
  width: 600px;
  float: left;

  img {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .headerNav {
    float: left;
  }

}

.headerNavMainList {
  & > li {
    float: left;
    margin: 10px 0 0;
    padding: 10px;
    position: relative;
    transition: 0.5s;
  }
  & > li:hover {
    background-color: #9E2C2C;
    & > ul {
      display: block;
    }
  }

  & > li > a {
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    background-color: #9E2C2C;
    padding: 10px;
  }

  & > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
  }
  & > li > ul > li > a {
    background-color: #1e1e1e;
    color: #aaa;
    padding: 10px;
    display: block;
    transition: 0.5s;
  }
  & > li > ul > li > a:hover {
    background-color: #9E2C2C;
    color: white;
  }
}


/**********HEADER-LEFT**********/
.headerRightWrapper {
  float: right;
  width: 250px;
  text-align: right;

  form {
    margin: 20px 0 30px;
    display: inline-block;
  }
  input[type=text] {
    padding: 5px;
    width: 125px;
  }
  input[type=submit] {
    padding: 5px;
  }

  a {
    display: inline-block;
    background-color: #5E697D;
    color: white;
    padding: 12px;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

@media (max-width: 849px) {
  .headerRightWrapper {
    float: left;
    text-align: left;
  }
}

/***********MAIN***********/
.mainAndAsideWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.main1 {
  width: 1100px;
  margin-right: 10px;
}



/************MATEMATYKA-MAIN-HEADER************/
.introduction {
  margin-bottom: 30px;

  h1 {
    color: #536675;
    font-size: 3rem;
  }
  p {
    padding-left: 5px;
    font-size: 1.05rem;
    line-height: 120%;
  }
}


/**************MAIN-NAV**************/
.mainNavWrapper {
  width: 325px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;

  h2 {
    color: white;
    background-color: #536675;
    padding: 2px 10px;
  }
  p {
    padding: 15px 15px 0;
    font-size: 1.1rem;
  }
}

.mainNav {
  padding: 15px;

  h3 {
    color: #536675;
    font-size: 1.6rem;
    margin-bottom: 15px;
  }

  a {
    color: #536675;
    &:hover { color: #B1B5A6; }
  }

  & > ul > li { margin: 0; }
  & > ul > li > a { font-weight: bold; line-height: 140%; }
  & > ul > li > ul { margin-left: 40px; }
  & > ul > li > ul > li { 
    line-height: 160%;
    &:last-child { margin-bottom: 10px; }
  }

  li:before {
    @extend %list-markers;
  }
}

/**************SECTION***********/
.moduly { 
  color: #536675;
  position: absolute;
  top: -40px;
  left: 50%;
}

section {
  width: 325px;
  float: left;
  margin: 20px 20px 0 0;
  border: 1px dashed black;
  box-sizing: border-box;
  padding: 20px;

  h3 {
    color:#536675;
    text-align: center;
    margin-bottom: 15px;
  }

  .sectionImgContainer {
    width: 285px;
    text-align: center;
  }
  img {
    max-width: 100%;
    display: inline-block;
    &:hover { transform: scale(1.05); }
  }
  p {
    margin: 10px 0;
    line-height: 130%;
  }
  li:before {
    @extend %list-markers;
  }
  a {
    color: #536675;
    line-height: 140%;
    &:hover { color: #B1B5A6; }
  }
}

.newPart, .najnowszeIWsparcie > h2 {
  color: white;
  background-color: #536675;
  padding: 5px 0 5px 5px;
  margin: 20px 20px 20px 0;
}

.najnowszeIWsparcie {
  float: left;
  box-sizing: border-box;
  width: 500px;

  img {
    width: 200px;
    float: left;
    &:hover { transform: scale(1.05); }
  }
  .specjal {
    float: left;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
  }
  a {
    color: #536675;
    &:hover { color: #B1B5A6; }
  }
  p {
    line-height: 130%;
  }
}

.NIWglowny {
  margin-bottom: 20px;
}

.polecamy {
  figure {
    width: 325px;
    box-sizing: border-box;
    border: 1px dashed black;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }
  
  img:hover {
    transform: scale(1.05);
  }
}


/************ASIDE***********/
.aside1 {
  width: 340px;

  figure {
    margin-bottom: 20px;
  }

  img:hover {
    transform: scale(1.05);
  }
}

/**********FOOTER***********/
footer {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid black;

  a {
    display: block;
    float: left;
    margin-left: 15px;
    &:first-child { margin: 0;}
    color:#536675;
  }
  
  p {
    text-align: right;
    font-size: 0.85rem;
    color: #535353;
  }
}